.h1 {
	font-weight: 300;
	line-height: 31px;
	font-size: 1.5rem;
	font-family: 'Product Sans';
}

.h2 {
	font-weight: 300;
	line-height: 24px;
	font-size: 1.25rem;
	font-family: 'Product Sans';
}

.h3 {
	font-weight: 300;
	line-height: 26px;
	font-size: 1.25rem;
	font-family: 'Product Sans';
}

.h4 {
	font-weight: 300;
	line-height: 26px;
	font-size: 1rem;
	font-family: 'Product Sans';
}

.h5 {
	font-weight: 300;
	font-family: 'Product Sans';
}

.h6 {
	font-weight: 300;
	font-family: 'Product Sans';
}

@media screen and (min-width: 768px) {
	.h1 {
		line-height: 40px;
		font-size: 2rem;
	}

	.h2 {
		line-height: 29px;
		font-size: 1.25rem;
	}

	.h3 {
		line-height: 24px;
		font-size: 1.25rem;
	}

	.h4 {
		font-size: 1.25rem;
	}
}

@media screen and (min-width: 1200px) {
	.h1 {
		line-height: 58px;
		font-size: 3rem;
	}

	.h2 {
		line-height: 49px;
		font-size: 2.5rem;
	}

	.h3 {
		line-height: 36px;
		font-size: 1.75rem;
	}

	.h4 {
		font-size: 1.55rem;
	}
}
