:root {
    --select-search-border: #e1e3e5;
    --select-search-border-right: #c6c6c7;
    --select-search-bg: #fff;
    --select-search-txt: #000;
    --select-search-scroll-track: #e5e7ea;
    --select-search-scroll-thumb: #939393;
    --select-search-input-bg: transparent;
    --select-search-input-placeholder: #bebec0;
}

[data-theme='dark'] {
    --select-search-border: #38383a;
    --select-search-border-right: #888888;
    --select-search-bg: #272729;
    --select-search-txt: #fff;
    --select-search-scroll-track: #3a3a3c;
    --select-search-scroll-thumb: #939393;
    --select-search-input-bg: #3a3a3c;
    --select-search-input-placeholder: #939393;
}

* {
    font-family: 'Product Sans';
}

ul {
    padding-inline-start: 0;
}

.main_container {
    position: relative;
}

.selected_input {
    padding-right: 12px;
    cursor: pointer;
    position: relative;
    color: var(--select-search-txt);
}

.hide_list {
    opacity: 0;
    pointer-events: none;
    transition: all 0.9s ease;
}

.selected_input svg {
    vertical-align: middle;
    transition: all 0.3s ease;
    margin-left: 4px;
    transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
}

.selected_input.flip svg {
    transform: scaleY(1);
    -moz-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
}

.dropdown_list_wrapper {
    width: clamp(300px, 100%, 392px);
    background-color: var(--select-search-bg);
    border-radius: 8px;
    padding: 24px 0 0 0;
    transition: all 0.3s ease;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 40px;
    overflow: hidden;
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.1);
}

.search_input_container {
    padding: 0 24px 16px;
}

.cross_svg {
    width: 16px;
    height: 16px;
    margin-top: 4px;
}

.search_input {
    border-radius: 4px;
    width: 100%;
    background-color: var(--select-search-input-bg);
}

.search_icon {
    width: 24px;
    height: 24px;
    margin-top: 3px;
}

.search_input_container .search_input input::placeholder {
    color: var(--select-search-input-placeholder);
}

.list_container {
    max-height: 224px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 24px 0 24px;
}

.list_container::-webkit-scrollbar {
    width: 4px;
    cursor: pointer;
}

.list_container::-webkit-scrollbar-track {
    border-radius: 10px;
    background: var(--select-search-scroll-track);
    cursor: pointer;
}

.list_container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--select-search-scroll-thumb);
    cursor: pointer;
}

.list_container li {
    padding-bottom: 8px;
    padding-top: 8px;
    display: flex;
    border-bottom: 1px solid var(--select-search-border);
    justify-content: space-between;
    align-items: center;
    color: var(--select-search-txt);
    cursor: pointer;
}

.list_container li>div {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.list_container img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: 'cover';
}