:root {
	--core-color-loader-ring-bg: #ffefd7;
}

[data-theme='dark'] {
	--core-color-loader-ring-bg: #675437;
}

.table_loader {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 300px;
}

.loader {
	width: 52px;
	height: 52px;
	border: 8px solid var(--core-color-loader-ring-bg);
	border-bottom-color: #fd9e08;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
