:root {
    --color-modal-notification-header: #000000;
    --color-modal-notification-header-divider: #e1e3e5;
    --color-modal-notification-subtitle: #6d6d70;
}

[data-theme='dark'] {
    --color-modal-notification-header: #ffffff;
    --color-modal-notification-header-divider: #3a3a3c;
    --color-modal-notification-subtitle: #939393;
}

.notification_modal_container {
    padding: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--color-modal-notification-header-divider);
    margin-bottom: 16px;
    color: var(--color-modal-notification-header);
}

.header_title {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 24px;
}

.header>svg {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.body {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.notification_title {
    color: var(--color-modal-notification-header);
    line-height: 19px;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 4px;
}

.date {
    color: var(--color-modal-notification-subtitle);
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 15px;
    margin-bottom: 12px;
}

.description {
    color: var(--color-modal-notification-subtitle);
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 19px;
}

.actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.actions>* {
    min-width: 100px;
}