:root {
	--color-black-white: #000;
	--core-date-picker-color-presets: #6d6d70;
	--color-date-picker-color-arrow: #bebec0;
	--core-date-picker-color-border: #e1e3e5;
	--core-date-picker-color-presets-hover-bg: #f7f7f7;
	--core-date-picker-color-presets-hover-bg: #f7f7f7;
	--core-date-picker-color-bg: #fff;
}

[data-theme='dark'] {
	--color-black-white: #fff;
	--core-date-picker-color-presets: #939393;
	--color-date-picker-color-arrow: #464649;
	--core-date-picker-color-border: #38383a;
	--core-date-picker-color-presets-hover-bg: #2c2c2e;
	--core-date-picker-color-bg: #1c1c1e;
}

.selector_container {
	display: grid;
	grid-template-columns: 1fr 16px;
	width: 100%;
	gap: 8px;
}

.selector_container > button {
	display: none;
}

.close_vector {
	display: flex;
	justify-content: center;
	align-items: center;
}

.close_vector svg {
	width: 16px;
	height: 16px;
	color: var(--color-black-white);
}

@media (min-width: 428px) {
	.selector_container {
		display: flex;
		gap: 8px;
	}
	.selector_container > button {
		display: flex;
	}
	.close_vector {
		display: none;
	}
}

.date_picker_selector {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid var(--core-date-picker-color-border);
	padding: 10px 12px;
	border-radius: 4px;
	box-sizing: border-box;
	min-width: 260px;
	width: -webkit-fill-available;
}

.date_picker_selector * {
	font-family: 'Product Sans' !important;
}

.date_picker_selector svg {
	width: 20px;
	height: 20px;
	color: var(--color-black-white);
}

.arrow_vector {
	margin: 0 8px;
}

.calender_vector {
	margin-left: 12px;
}

.date_item {
	line-height: 20px;
	font-size: 14px;
	font-weight: 500;
	color: var(--color-black-white);
	cursor: text;
}

.date_item.deactive {
	font-weight: 300;
	color: var(--color-date-picker-color-arrow);
}

.picker {
	border-color: transparent;
}
