:root {
    --color-radio-border-color: #e1e3e5;
    --color-radio-text-color: #000000;
}

[data-theme='dark'] {
    --color-radio-border-color: #38383a;
    --color-radio-text-color: #ffffff;
}

.radio {
    display: block;
    cursor: pointer;
    user-select: none;
    text-align: left;
    position: relative;
    display: flex;
    color: var(--color-radio-text-color);
    font-family: 'Product Sans';
    font-weight: 300;
    font-size: 1rem;
    line-height: 19px;
}

.input {
    display: none;
}

.check {
    display: inline-block;
    position: relative;
    padding-left: 30px;
}

.check:before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-radio-border-color);
    background: transparent;
}

.check:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: #222;
    position: absolute;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    opacity: 0;
    transform: scale(0, 0);
    transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.input:checked+.check:before {
    border-color: #fbbb20;
}

.input:checked+.check:after {
    opacity: 1;
    transform: scale(1, 1);
    background: #fbbb20;
}