:root {
    --color-download-bg: #ffffff;
    --color-download-txt: #000000;
    --color-navbar-drop-down-box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.16);
}

[data-theme='dark'] {
    --color-download-bg: #272729;
    --color-download-txt: #ffffff;
    --color-navbar-drop-down-box-shadow: none;
}

.download_dropDown_container {
    position: absolute;
    background-color: var(--color-download-bg);
    color: var(--color-download-txt);
    top: 64px;
    right: -8px;
    border-radius: 8px;
    padding: 16px 0;
    width: 222px;
    height: 283px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s linear 0s;
    box-shadow: var(--color-navbar-drop-down-box-shadow);
}

.scan_txt {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.1875rem;
    margin: 2px 0 -4px;
}

.qr_code {
    width: 188px;
    height: 210px;
    color: var(--color-download-txt);
    position: relative;
}

.view_more {
    text-align: center;
    margin-top: -3px;
    color: #fbbb20;
    text-decoration: none;
    line-height: 20px;
    display: flex;
    gap: 4px;
    align-items: center;
}

.view_more>svg {
    width: 16px;
    height: 16px;
}