:root {
    --color-pure-white-black: #000000;
    --color-navbar-dropdown-bg: #FFFFFF;
    --color-navbar-dropdown-item-hover: #F7F7F7;
    --color-navbar-notification-tab-border: #E1E3E5;
    --color-navbar-notification-tab-text: #BEBEC0;
    --color-navbar-notification-tab-text-active: #000000;
    --color-notification-date-text: #6D6D70;
    --color-navbar-drop-down-box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.16);
}

[data-theme='dark'] {
    --color-pure-white-black: #FFFFFF;
    --color-navbar-dropdown-bg: #272729;
    --color-navbar-dropdown-item-hover: #2C2C2E;
    --color-navbar-notification-tab-border: #3A3A3C;
    --color-navbar-notification-tab-text: #939393;
    --color-navbar-notification-tab-text-active: #FFFFFF;
    --color-notification-date-text: #939393;
    --color-navbar-drop-down-box-shadow: none;
}

.drop_down_container {
    padding: 24px 0;
    border-radius: 8px;
    background-color: var(--color-navbar-dropdown-bg);
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: 64px;
    right: -10px;
    transition: all 0.1s linear 0s;
    width: 414px;
    height: 460px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr auto;
    box-shadow: var(--color-navbar-drop-down-box-shadow);
}

.tab_container {
    display: flex;
    gap: 20px;
    padding: 0 0 8px;
    margin: 0 32px;
    border-bottom: 1px solid var(--color-navbar-notification-tab-border);
}

.tab_item {
    color: var(--color-navbar-notification-tab-text);
    font-weight: 300;
    font-size: 0.875em;
    line-height: 21px;
    cursor: pointer;
}

.tab_item.active_tab {
    color: var(--color-navbar-notification-tab-text-active);
    font-weight: 400;
}

.main_section {
    overflow: auto;
}

.main_section::-webkit-scrollbar {
    width: 6px;
}

.main_section::-webkit-scrollbar-track {
    background-color: var(--color-currency-bg-scroll-track);
    border-radius: 100px;
    margin-right: 2px;
}

.main_section::-webkit-scrollbar-thumb {
    background-color: var(--color-currency-bg-scroll-thumb);
    border-radius: 100px;
}

.announcements_container {
    display: flex;
    flex-direction: column;
}

.announcement_item {
    padding: 12px 32px 16px;
    display: grid;
    grid-template-columns: 16px 1fr 16px;
    grid-template-rows: auto auto;
    gap: 4px 8px;
    cursor: pointer;
    text-decoration: none;
}

.message_icon {
    grid-column: 1;
    grid-row: 1;
    color: var(--color-pure-white-black);
    width: 16px;
    height: 16px;
    margin: 2px auto auto;
}

.new_message {
    position: relative;
}

.new_message::after {
    content: '';
    position: absolute;
    left: 43px;
    top: 12px;
    border: 2px solid var(--color-navbar-dropdown-bg);
    width: 5px;
    height: 5px;
    border-radius: 6px;
    background-color: #E51717;
}

.title {
    color: var(--color-pure-white-black);
    line-height: 19px;
    font-size: 0.875rem;
    font-weight: 300;
    grid-column: 2/4;
}

.date {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 15px;
    grid-column: 2;
    color: var(--color-notification-date-text);
}

.arrow_right {
    color: #FBBB20;
    width: 16px;
    height: 16px;
    opacity: 0;
}

.announcement_item:hover,
.notification_item:hover {
    background-color: var(--color-navbar-dropdown-item-hover);
}

.announcement_item:hover>.arrow_right,
.notification_item:hover>.arrow_right {
    opacity: 1;
    animation: horizontal_bounce 0.5s ease infinite;
}

.view_more_container {
    display: flex;
    justify-content: flex-end;
    margin: 16px 32px 0 0;
}

.view_more_container>a {
    text-decoration: none;
    color: var(--color-pure-white-black);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 17px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.view_more_container>a>svg {
    width: 16px;
    height: 16px;
}

.login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 8px;
}

.login_title {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 20px;
    color: var(--color-pure-white-black);
}

.notification_item {
    padding: 12px 32px 16px;
    display: grid;
    grid-template-columns: 16px 1fr 16px;
    grid-template-rows: auto auto auto;
    gap: 4px 8px;
    cursor: pointer;
    text-decoration: none;
}

.description {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 19px;
    grid-column: 2/4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--color-notification-date-text);
    margin-top: 4px;
}

.no_notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    color: var(--color-notification-date-text);
    gap: 12px;
}

.no_notification>svg {
    width: 124px;
    height: 24px;
}

.no_notification_txt {
    font-size: 1rem;
    font-weight: 300;
    line-height: 21px;
}

@keyframes horizontal_bounce {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(12%);
    }
    100% {
        transform: translateX(0px);
    }
}