:root {
    --color-navbar-dropdown-bg: #ffffff;
    --color-navbar-dropdown-item-hover: #f7f7f7;
    --color-navbar-icon: #464649;
    --color-navbar-icon-hover: #fcd535;
    --color-navbar-drop-asset-title: #323232;
    --color-navbar-badge-bg: #000000;
    --color-navbar-badge-text: #ffffff;
    --color-navbar-profile-kyc-deactive-bg: #f7f7f7;
    --color-navbar-profile-kyc-active-bg: #d7f5e3;
    --color-navbar-profile-kyc-deactive-text: #bebec0;
    --color-navbar-profile-kyc-active-text: #009b79;
    --color-navbar-profile-kyc-deactive-tick: #bebec0;
    --color-navbar-profile-kyc-active-tick: #009b79;
    --color-navbar-profile-kyc-deactive-shape: #e1e3e5;
    --color-navbar-profile-kyc-active-shape: #ffffff;
    --color-navbar-profile-vip-deactive-bg: #f7f7f7;
    --color-navbar-profile-vip-active-bg: #fef8de;
    --color-navbar-profile-vip-deactive-text: #6d6d70;
    --color-navbar-profile-vip-active-text: #f1c304;
    --color-navbar-profile-vip-deactive-icon: #464649;
    --color-navbar-profile-border: #e1e3e5;
    --color-navbar-drop-down-box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.16);
}

[data-theme='dark'] {
    --color-navbar-dropdown-bg: #272729;
    --color-navbar-dropdown-item-hover: #2c2c2e;
    --color-navbar-icon: #bebec0;
    --color-navbar-icon-hover: #fcd535;
    --color-navbar-drop-asset-title: #d4d4d5;
    --color-navbar-badge-bg: #ffffff;
    --color-navbar-badge-text: #000000;
    --color-navbar-profile-kyc-deactive-bg: rgb(52, 52, 54);
    --color-navbar-profile-kyc-active-bg: #1f3c35;
    --color-navbar-profile-kyc-deactive-text: #939393;
    --color-navbar-profile-kyc-active-text: #06d6a9;
    --color-navbar-profile-kyc-deactive-tick: #464649;
    --color-navbar-profile-kyc-active-tick: #1f3b35;
    --color-navbar-profile-kyc-deactive-shape: #939393;
    --color-navbar-profile-kyc-active-shape: #06d6a9;
    --color-navbar-profile-vip-deactive-bg: #3a3a3c;
    --color-navbar-profile-vip-active-bg: #352b00;
    --color-navbar-profile-vip-deactive-text: #d4d4d5;
    --color-navbar-profile-vip-active-text: #f1c304;
    --color-navbar-profile-vip-deactive-icon: #d4d4d5;
    --color-navbar-profile-border: #3a3a3c;
    --color-navbar-drop-down-box-shadow: none
}

.drop_down_container {
    padding: 20px 0 24px;
    border-radius: 8px;
    background-color: var(--color-navbar-dropdown-bg);
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: 64px;
    right: -10px;
    transition: all 0.1s linear 0s;
    width: 310px;
    box-shadow: var(--color-navbar-drop-down-box-shadow);
}

.profile_info_container {
    margin: 0 24px 8px;
    display: grid;
    grid-template-columns: 48px auto 1fr;
    grid-template-rows: auto auto;
    gap: 6px 4px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-navbar-profile-border);
}

.profile_icon_container {
    grid-column: 1;
    grid-row: 1/3;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: linear-gradient(135deg, #fcd535 50%, #feea9a 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px auto 0;
}

.profile_icon_container>svg {
    color: white;
    width: 28px;
    height: 28px;
}

.user_container {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 17px;
    color: var(--color-navbar-drop-asset-title);
    grid-column: 2/4;
    grid-row: 1;
}

.kyc_container {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5px 8px 2.5px 4px;
    border-radius: 40px;
    gap: 4px;
    background: var(--color-navbar-profile-kyc-deactive-bg);
}

.kyc_container.active {
    background: var(--color-navbar-profile-kyc-active-bg);
}

.kyc_txt {
    color: var(--color-navbar-profile-kyc-deactive-text);
}

.kyc_container.active>.kyc_txt {
    color: var(--color-navbar-profile-kyc-active-text);
}

.kyc_container>svg {
    width: 16px;
    height: 16px;
}

.kyc_svg_shape {
    color: var(--color-navbar-profile-kyc-deactive-shape);
}

.kyc_svg_tick {
    color: var(--color-navbar-profile-kyc-deactive-tick);
}

.kyc_container.active .kyc_svg_shape {
    color: var(--color-navbar-profile-kyc-active-shape);
}

.kyc_container.active .kyc_svg_tick {
    color: var(--color-navbar-profile-kyc-active-tick);
}

.kyc_txt,
.vip_level_txt {
    line-height: 12px;
    font-weight: 400;
    font-size: 0.625rem;
}

.vip_level_container {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-navbar-profile-vip-deactive-bg);
    border-radius: 40px;
    gap: 4px;
    padding: 3.5px 8px 4.5px 6px;
    margin: 0 auto 0 0;
}

.vip_level_container.active {
    background: var(--color-navbar-profile-vip-active-bg);
}

.vip_level_txt {
    color: var(--color-navbar-profile-vip-deactive-text);
}

.vip_level_container>svg {
    width: 10px;
    height: 10px;
    color: var(--color-navbar-profile-vip-deactive-icon);
    margin-bottom: 1px;
}

.vip_level_container.active>.vip_level_txt {
    color: var(--color-navbar-profile-vip-active-text);
}

.vip_level_container.active>svg {
    color: var(--color-navbar-profile-vip-active-text);
}

.menu_items {
    margin-bottom: 16px;
}

.drop_down_item {
    padding: 10px 24px;
    display: flex;
    gap: 8px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.drop_down_item:hover {
    background: var(--color-navbar-dropdown-item-hover);
}

.icon_container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.icon_container>svg {
    color: var(--color-navbar-icon);
    width: 20px;
    height: 20px;
    transition: all 0.3s ease;
}

.drop_down_item:hover>.icon_container>svg {
    color: var(--color-navbar-icon-hover);
}

.title {
    line-height: 17px;
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--color-navbar-drop-asset-title);
    display: flex;
    gap: 4px;
    align-items: center;
}