:root {
	--core-color-table-header-bg: #f7f7f7;
	--core-color-table-td-border: #f7f7f7;
	--core-color-table-header-text: #000000;
	--core-color-table-tbody-tr-bg: #ffffff;
	--core-color-table-tbody-td-text: #000000;
	--core-color-tbody-tr-hover-bg: #f7f7f7;
	--core-color-empty-data-icon-color: #ffffff;
	--core-color-empty-data-icon-stroke-color: #e1e3e5;
	--core-color-empty-data-color-text: #6d6d70;
	--core-display-light-empty-icon: block;
	--core-display-dark-empty-icon: none;
}

[data-theme='dark'] {
	--core-color-table-header-bg: #272729;
	--core-color-table-header-text: #ffffff;
	--core-color-table-td-border: #272729;
	--core-color-table-tbody-tr-bg: #18181a;
	--core-color-table-tbody-td-text: #939393;
	--core-color-tbody-tr-hover-bg: #272729;
	--core-color-empty-data-icon-color: #18181a;
	--core-color-empty-data-icon-stroke-color: #38383a;
	--core-color-empty-data-color-text: #939393;
	--core-display-light-empty-icon: none;
	--core-display-dark-empty-icon: block;
}

* {
	font-family: 'Product Sans' !important;
}

.container {
	width: 100%;
	overflow-x: auto;
}

.container::-webkit-scrollbar {
	height: 5px;
}

.table {
	width: 100%;
	border-collapse: collapse;
}

.thead_th {
	padding: 13px 24px 12px 24px;
	background-color: var(--core-color-table-header-bg);
	color: var(--core-color-table-header-text);
	white-space: nowrap;
	text-align: left;
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	text-align: left;
}

.tbody_td {
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	padding: 16px 24px;
	white-space: nowrap;
	background-color: var(--core-color-table-tbody-tr-bg);
	color: var(--core-color-table-tbody-td-text);
	border-bottom: 1px solid var(--core-color-table-td-border);
}

.tbody_tr:hover > td {
	background-color: var(--core-color-tbody-tr-hover-bg) !important;
}

.sortContainer {
	display: flex;
	align-items: center;
	gap: 2px;
}

.sort_icon {
	margin-top: 5px;
}

.empty_container {
	text-align: center;
	padding: 50px 0;
	width: 100%;
	background-color: var(--core-color-table-tbody-tr-bg);
	color: var(--core-color-table-tbody-td-text);
}

.loading_container {
	text-align: center;
	padding: 10px 0;
	width: 100%;
	background-color: var(--core-color-table-tbody-tr-bg);
	color: var(--core-color-table-tbody-td-text);
}

.not_found_text {
	margin-top: 10px;
	color: var(--core-color-empty-data-color-text);
	font-size: 14;
	font-weight: 500;
}

.empty_light_icon,
.empty_dark_icon {
	color: var(--core-color-empty-data-icon-color);
	margin: 20px auto;
}

.empty_light_icon {
	display: var(--core-display-light-empty-icon);
}

.empty_dark_icon {
	display: var(--core-display-dark-empty-icon);
}

.pointer {
	cursor: pointer;
}
