:root {
	--color-navbar-bg: #ffffff;
	--color-navbar-coinlocally: #323232;
	--color-navbar-grid: #323232;
	--color-navbar-arrow_down: #323232;
	--color-navbar-item-text: #323232;
	--color-navbar-right-border: #e1e3e5;
	--text-navbar-secondary: #86868a;
	--color-navbar-border: #e5e7ea;
	--navbar-font-weight: 500;
}

[data-theme='dark'] {
	--color-navbar-bg: #1c1c1e;
	--color-navbar-coinlocally: #ffffff;
	--color-navbar-grid: #d4d4d5;
	--color-navbar-arrow_down: #bababa;
	--color-navbar-item-text: #d4d4d5;
	--color-navbar-right-border: #3a3a3c;
	--text-navbar-secondary: #939393;
	--color-navbar-border: #1c1c1e;
	--navbar-font-weight: 400;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.navbar {
	width: 100%;
	padding: 0 32px;
	height: 64px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--color-navbar-bg);
	position: sticky;
	top: 0;
	z-index: 800;
	border-bottom: 1px solid var(--color-navbar-border);
	direction: ltr;
}

.navbar > * {
	font-family: 'Product Sans' !important;
}

.navbar_left,
.nav_right {
	display: flex;
	align-items: center;
}

.coinlocally {
	color: var(--color-navbar-coinlocally);
	width: 150px;
	height: 32px;
	padding: 0 20px 0 0;
}

.grid_item,
.nav_left_item {
	display: flex;
	gap: 4px;
	cursor: pointer;
	align-items: center;
	position: relative;
	height: 64px;
	padding-right: 20px;
	text-decoration: none;
}

.nav_right_item {
	display: flex;
	gap: 4px;
	cursor: pointer;
	align-items: center;
	position: relative;
	height: 64px;
	padding-left: 20px;
	text-decoration: none;
}

.nav_profile_item {
	display: flex;
	gap: 4px;
	cursor: pointer;
	align-items: center;
	position: relative;
	height: 64px;
	padding: 0 0 0 16px;
	text-decoration: none;
}

.nav_profile_icon {
	width: 24px;
	height: 24px;
	color: var(--color-navbar-grid);
	cursor: pointer;
}

.nav_left_item > span,
.nav_right_item > span {
	color: var(--color-navbar-item-text);
	font-weight: var(--navbar-font-weight);
	font-size: 0.875rem;
	line-height: 17px;
}

.grid_icon {
	color: var(--color-navbar-grid);
	width: 20px;
	height: 20px;
}

.arrow_down {
	width: 12px;
	height: 12px;
	color: var(--color-navbar-arrow_down);
	transition: all 0.3s ease;
}

.nav_left_item > .arrow_down,
.nav_right_item > .arrow_down {
	margin-top: 2px;
}

.nav_left_item,
.nav_right_item {
	padding-bottom: 2px;
}

.grid_item:hover > .arrow_down {
	rotate: 180deg;
}

.nav_left_item:hover > .arrow_down,
.nav_right_item:hover > .arrow_down {
	rotate: 180deg;
}

.grid_item:hover > .drop_down_container,
.nav_left_item:hover > .drop_down_container,
.nav_profile_item:hover > .drop_down_container,
.nav_right_item:hover > .drop_down_container {
	opacity: 1;
	pointer-events: inherit;
}

.new_badge {
	background: var(--color-navbar-badge-bg);
	color: var(--color-navbar-badge-text);
	font-weight: 700;
	font-size: 0.625rem;
	line-height: 10px;
	display: flex;
	padding: 2px 4px 1px;
	border-radius: 2px;
}

.hot_badge {
	background: #fc3535;
	color: #ffffff;
	font-weight: 700;
	font-size: 0.625rem;
	line-height: 10px;
	display: flex;
	padding: 2px 4px 1px;
	border-radius: 2px;
}

.navbar_right,
.navbar_right_container {
	display: flex;
}

.navbar_right_container {
	height: inherit;
}

.login_container {
	display: flex;
	gap: 4px;
	align-items: center;
}

.login_container > a {
	min-width: 77px;
}

.right_icons_container {
	margin-left: 16px;
	padding-left: 16px;
	display: flex;
	align-items: center;
	position: relative;
}

.mobile_container {
	margin-left: 20px;
	display: none;
	align-items: center;
	position: relative;
	gap: 20px;
}

.right_icons_container::before {
	content: '';
	position: absolute;
	left: 0;
	height: 24px;
	width: 1px;
	background-color: var(--color-navbar-right-border);
}

.always_active::before {
	display: none;
}

.right_icons {
	width: 20px;
	height: 20px;
	color: var(--color-navbar-item-text);
	cursor: pointer;
}

.sidebar {
	position: fixed;
	right: -300px;
	z-index: 1000;
	top: 0;
	overflow-y: auto;
	height: 100vh;
	width: 300px;
	pointer-events: none;
	transition: all 0.3s cubic-bezier(0, 0, 0.34, 0.93) 0s;
}

.sidebar_open {
	right: 0;
	pointer-events: inherit;
}

.sidebar_container {
	background-color: var(--color-navbar-bg);
	height: 100%;
	margin-left: auto;
	padding: 2rem 1rem;
	overflow-y: auto;
	overflow-x: hidden;
}

.sidebar_container::-webkit-scrollbar {
	width: 6px;
}

.sidebar_container::-webkit-scrollbar-track {
	background-color: var(--color-currency-bg-scroll-track);
	border-radius: 100px;
	margin-right: 2px;
}

.sidebar_container::-webkit-scrollbar-thumb {
	background-color: var(--color-currency-bg-scroll-thumb);
	border-radius: 100px;
}

.sidebar_layout {
	background: rgba(0, 0, 0, 0.38);
	position: fixed;
	right: 0;
	z-index: 999;
	top: 0;
	width: 100%;
	height: 100vh;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s cubic-bezier(0, 0, 0.34, 0.93) 0s;
}

.sidebar_active_layout {
	opacity: 1;
	pointer-events: inherit;
}

.logo_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem 1.5rem;
}

.sidebar_logo {
	height: 1.5rem;
	color: var(--color-navbar-coinlocally);
	width: 6.2rem;
}

.sidebar_close {
	color: var(--color-navbar-coinlocally);
	cursor: pointer;
}

.sidebar_login {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	margin-bottom: 0.75rem;
}

.sidebar_login a {
	width: 100%;
	height: 32px;
}

.gift {
	margin-right: 0.25rem;
}

.user_info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user_icon {
	background-color: #fcd535;
	border-radius: 25rem;
	position: relative;
	width: 2.5rem;
	height: 2.5rem;
}

.user_bold {
	width: 2.5rem;
	height: 2.5rem;
}

.sidebar_item {
	display: flex;
	gap: 0.75rem;
	cursor: pointer;
	align-items: center;
	position: relative;
	height: 3rem;
	padding: 1rem;
	text-decoration: none;
	color: var(--color-navbar-coinlocally);
	width: 100%;
}

.sidebar_item svg,
.sidebar_ul svg {
	width: 20px;
	height: auto;
}

.sidebar_ul {
	display: flex;
	gap: 0.75rem;
	align-items: center;
}

.darkMode_container {
	display: flex;
	gap: 0.75rem;
	cursor: pointer;
	align-items: center;
	position: relative;
	height: 3rem;
	padding: 1rem;
	text-decoration: none;
	color: var(--color-navbar-coinlocally);
	width: 100%;
	justify-content: space-between;
	margin-bottom: 55px;
}

.darkMode_container .left_container {
	display: flex;
	align-items: center;
	gap: 5px;
}

.top_border {
	border-top: 1px solid var(--color-navbar-right-border);
}

.darkmode_icon {
	width: 20px;
	height: auto;
}

@media (min-width: 1080px) {
	.sidebar {
		display: none;
	}
	.sidebar_layout {
		display: none;
	}
}

@media (max-width: 1344px) {
	.navbar_main_tournament {
		display: none;
	}
}

@media (max-width: 1230px) {
	.navbar_main_rewards_hub {
		display: none;
	}
}

@media (max-width: 1094px) {
	.nav_left_item,
	.grid_item,
	.right_icons_container,
	.navbar_right_container {
		display: none;
	}
	.always_active {
		display: flex;
	}
	.mobile_container {
		display: flex;
	}
}

@media (max-width: 460px) {
	.login_container {
		display: none;
	}
	.navbar {
		padding: 0 16px;
		height: 56px;
	}
	.coinlocally {
		padding: 0;
	}
}
