:root {
	--color-modal-panel-color: #ffffff;
	--color-modal-header-border: #e5e7ea;
	--color-modal-header-text: #000000;
}

[data-theme='dark'] {
	--color-modal-panel-color: #1c1c1e;
	--color-modal-header-border: #38383a;
	--color-modal-header-text: #ffffff;
}

.modal_container {
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
}

.background {
	background: rgba(0, 0, 0, 0.38);
	height: 100vh;
	width: 100%;
	backdrop-filter: blur(1px);
	position: fixed;
	z-index: 1001;
	cursor: pointer;
}

.background.active {
	animation: modal_fade_in 0.4s ease;
}

.background.deactive {
	animation: modal_fade_out 0.4s ease;
}

.modal_panel {
	background-color: var(--color-modal-panel-color);
	position: relative;
	border-radius: 8px;
	z-index: 1002;
	margin: 0 16px;
	min-width: 300px;
}

.modal_panel.active {
	animation: modal_panel_scale_in 0.3s ease;
}

.modal_panel.deactive {
	animation: modal_panel_scale_out 0.3s ease;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 16px;
	margin-bottom: 16px;
	color: var(--color-modal-header-text);
	margin: 24px 24px 12px;
}

.header svg {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.header h3 {
	font-size: 20px;
	font-weight: 500;
	margin: 0;
}

.header {
	border-bottom: 1px solid var(--color-modal-header-border);
}

@media (max-width: 600px) {
	.mobile_view {
		position: absolute;
		bottom: 0;
		width: 100%;
		border-radius: 8px 8px 0 0;
		max-height: 90%;
		max-width: 100% !important;
	}
	.mobile_view.modal_panel {
		margin: 0;
	}
	.mobile_view.modal_panel.active {
		animation: mobile_modal_in 0.4s ease;
	}
	.mobile_view.modal_panel.deactive {
		animation: mobile_modal_out 0.4s ease;
	}
}

@keyframes modal_fade_in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes modal_fade_out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes modal_panel_scale_in {
	0% {
		scale: 0;
	}
	100% {
		scale: 1;
	}
}

@keyframes modal_panel_scale_out {
	0% {
		scale: 1;
	}
	100% {
		scale: 0;
	}
}

@keyframes mobile_modal_in {
	0% {
		bottom: -600px;
	}
	100% {
		bottom: 0;
	}
}

@keyframes mobile_modal_out {
	0% {
		bottom: 0;
	}
	100% {
		bottom: -600px;
	}
}
