:root {
	--color-core-switch-nested-circle: #ffffff;
	--color-core-switch-main-bg: #e5e7ea;
}

[data-theme='dark'] {
	--color-core-switch-main-bg: #3d4752;
}

.switch_container {
	width: 28px;
	height: 16px;
	border-radius: 40px;
	padding: 2px;
	background: var(--color-core-switch-main-bg);
	cursor: pointer;
	position: relative;
	transition: all 0.3s ease;
}

.switch_container.active {
	background: #fcd535;
}

.status_circle {
	width: 12px;
	height: 12px;
	border-radius: 12px;
	background: var(--color-core-switch-nested-circle);
	position: absolute;
	left: 2px;
	top: 2px;
	transition: all 0.3s ease;
}

.status_circle.active {
	left: 14px;
}
